@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html{
    @apply scroll-smooth
  }

  body{
    @apply font-inter text-brand-black-100 bg-brand-gray-10;
  }
}

.video-line{
  @apply after:hidden md:after:block after:absolute after:-bottom-8 after:h-6 after:-left-0.5 after:w-px after:bg-brand-black-200/30  before:hidden md:before:block before:absolute before:bottom-0 before:-left-8 before:w-6 before:h-px before:bg-brand-black-200/30
}

.menu-border{
  @apply before:absolute before:-inset-x-full before:top-0 before:h-px before:bg-brand-black-100/10 after:absolute after:bottom-0 after:-inset-x-full after:h-px after:bg-brand-black-100/10
}


.services-pagination-bullet {
  display: inline-block;
  cursor: pointer;
  margin-right: 2.5rem;
  transition: 0.5 color;
}

.services-pagination-bullet{
  @apply hover:text-brand-orange transition-colors
}

.services-pagination-bullet-active {
  @apply inline-block font-medium text-brand-orange;
  
}



.accordion-item-body {
  transition: max-height 0.3s ease-out;
}
.accordion-item-header.active > .icon {
 @apply rotate-180
}

.navigation-swiper{
  @apply px-4 xl:pr-4
}

.text-ipsum{
  @apply max-w-64
}

@media only screen and (min-width: 1440px) {
  .navigation-swiper{
    @apply pr-20
  }
  .text-ipsum{
    @apply max-w-72
  }
}

@media only screen and (max-width: 768px) {
  .services-pagination-bullet {
    display: none;
    margin-right: 1rem;
  }

  .services-pagination-bullet-active {
    display: inline-block;
  }
}

.custom-checkbox:checked + div svg{
  @apply block
}